/* ADD NEW EVENT */

.addEventbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.addEventbtn button {
    background-color: #7e4da2;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* EVENT CARDS CONTAINER */
.noEvents {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventsContainer {
    padding-top: 20PX;
    width: 80%;
    margin: auto;
}

.eventCardConatiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
}

.EventCard {
    background-color: #fbf5ff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.onlineoffline {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    padding: 5px;
    color: grey;
}

#onlineimg {
    width: 35px;
}

#offlineimg {
    width: 30px;
}

#eventdate {
    font-weight: 600;
    color: #c154c1;
}

#meetlink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.eventCardFooter {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.eventCardFooter {
    color: grey;
}

.eventCardFooter button {
    background: transparent;
    border: 2px solid #c154c1;
    padding: 10px;
    color: #c154c1;
    font-weight: 600;
    border-radius: 5px;
}

.eventCardFooter>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADD NEW EVENT FORM */

/* .newEventForm{
    width: 80%;
    margin: auto;
} */

.eventform-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.eventform-container h2 {
    text-align: center;
}

.eventform-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.eventform-group input,
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.eventform-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.AddNewEventbtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* EVENT DETAILS CONTAINER */

.EventdetailsContainer {
    width: 80%;
    margin: auto;
}

.Eventdetailsheader {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eventDetailsContent {
    display: flex;
}

.eventdetailscontentL {
    width: 70%;
    padding: 20px;
    line-height: 1.5;
}

.eventdetailscontentR {
    width: 30%;
}

.detailsBox {
    background-color: #e9e9eb;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.detailsboxDateTime,
.detailsboxLocation {
    padding: 20px 10px 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
}

.detailsboxLocation {
    padding-bottom: 20px;
}


.eventdetailsFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.eventbuttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.eventdateTime{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventbuttons button{
    padding: 10px 20px 10px 20px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    border: 2px solid #f378c1;
    color: #f378c1;
}

.eventbuttons span{
    font-size: 1.2rem;
    font-weight: 600;
}

#attendbtn{
    background-color: #f378c1;
    color: white;
}