.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.header .header-left {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.header .header-left input {
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px
}

.header .header-left input:focus {
  outline: none;
}

.header .header-right {
  color: #0cb4e7;
}

.header .header-right .icon {
  font-size: 25px;
  cursor: pointer;
  margin-left: 15px;
}

.menu-icon {
  display: none;
} 

.header-right button {
  background-color: #0cb4e7;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

/* Medium <= 992px */

@media screen and (max-width: 992px) {
    
  .menu-icon {
    display: inline;
  }

}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    overflow-x: hidden;
    padding: 0 8px 0 12px;
  }

  .header-left input {
    width: 80%;
  }

  .header-left {
    width: 55%;
  }

  .header-right button {
    display: none;
  }

  .header-right {
    display: flex;
    width: 40%;
  }

  .icon {
    font-size: 20px;
  }
}
