.mood-tracker {
    grid-area: main;
    background-color: #daeef563;
    display: flex;
    flex-direction: column;
    padding: 3% 3%;
    gap: 20px;
}

.mood-buttons {
    display: flex;
    gap: 20px;
}

.mood-buttons button {
    padding: 2%;
    border: none;
    font-size: 1em;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    cursor: pointer;
    width: 15%;
}

.mood-history {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listMoodHistory {
    border-radius: 25px;
    background-color: white;
    padding: 2%;
}

.listMoodHistory li {
    padding: 1%;
    list-style: none;
}

.moods {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.sleepTime {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.sleepTime form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sleepTime form input {
    height: 4vh;
    font-size: 0.9em;
    border-radius: 15px;
    border: none;
    padding: 3%;
    width: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

.sleepTime label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.moodAndSleep {
    display: flex;
    justify-content: space-evenly;
}

.sleepTime button {
    padding: 3%;
    border: none;
    font-size: 1em;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    cursor: pointer;
    width: 30%;
}

@media only screen and (max-width: 800px) {
    .moodAndSleep {
        display: flex;
        flex-direction: column;
    }

    .moods, .mood-buttons button {
        width: 100%;
        color: black;
    }

    .sleepTime {
        padding-top: 5%;
        width: 100%;
    }

    .sleepTime input, .sleepTime button {
        color: black;
    }
}
