.btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.successwrapper a {
  text-decoration: none;
  color: black;
}

.successwrapper a:visited {
  text-decoration: none;
  color: black;
}

/* ORDER SUCCESSFULL */

.successwrapper {
  background-color: #f9f8f4;
  height: 100vh;
  display: flex;
  align-items: center;
}

.success {
  width: 80%;
  margin: auto;
  background-color: #e5eeff;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
}

.success h1 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  color: #324d67;
  text-align: center;
}

.success .emailmsg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.mailToEmail {
  margin-left: 5px;
  color: #f02d34;
}

.gotohomebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gotohomebtn button {
  padding: 10px 30px 10px 30px;
  background-color: #f02d34;
  border: none;
  border-radius: 10px;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .success {
    width: 90%;
  }

  .success h2 {
    width: 90vw;
    text-align: center;
  }
}