.mainPlanPage {
    grid-area: main;
    background-color: #daeef563;
    padding: 3% 3%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.planBox {
    background-color: white;
    border-radius: 25px;
    padding: 0% 2% 3% 4%;
    text-align: center;
}

.planBoxItem {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .planBox {
        padding: 0 5% 10% 5%;
    }
}
